/* Main Colors
--------------------------------- */

/* primary color */
.hero-section-2 .second-headline span,
.hero-section-video-dark .second-headline span,
.hero-section-yt-dark .second-headline span,
.image-section h4 span,
.about-icons li .icon .material-icons,
.about-text h2 span,
.quote-bottom .container h3 span,
.service-headline h2 span,
.service-headline p span,
.service-content p,
.service .text a:hover,
.service .icons i,
.offre1 .contact-header span,
.service-2 .icons i,
.skills-headline h2 span,
.our-work-section h2 span,
.info-line .info-icon i,
footer p a:hover,
.portfolio-icons li a i,
.service-icons li a i {
    color: #ff701b;
}

.service-2 .icons-vert i {
  color: #34C924
}

.service-2 .icons-rouge i {
  color: #FF0000
}

.social-icons li a:hover,
.contact-form .btn-default:hover,
.portfolio-icons li a:hover,
.service-icons li a:hover,
.service-form .btn-default:hover,
.portfolio-form .btn-default:hover {
    background-color: #ff701b;
}

.contact-form .btn-default:hover,
.service-form .btn-default:hover,
.portfolio-form .btn-default:hover {
    border-color: #ff701b;
}

/* primary color 2 */
.st-nav-trigger {
    box-shadow: 0 0 10px #bf8046;
}

#st-nav #st-main-nav ul.is-visible {
    box-shadow: 0 0 10px #bf8046;
}

.st-nav-trigger span,
.st-nav-trigger.menu-is-open span::before,
.st-nav-trigger.menu-is-open span::after,
.image-section .btn-lg,
.social-icons li a,
.portfolio-headline .btn-default {
    background: #ff701b;
}

/* primary color 3 */
.sweep-icon a .fa {
    color: #ff701b;
}

/* secondary color */
.our-work-section .new-style p a, #our-work > div > div > div.col-md-12.portfolio-images > div > div.portfolio-img > div.sweep-from-center > div > div > a, #our-work > div > div > div.col-md-12.portfolio-images > div > div.portfolio-img > div.sweep-from-center > div > div > h3 > a:hover, #about > div > div > div > div.about-text > h3 > span {
    color: #ff701b;
}

.sweep-layer h3 a:hover {
    color: #00F2FF;
}

#our-work > div > div > div.col-md-12.new-style > p, #our-work > div > div > div.col-md-12.portfolio-images > div > div.portfolio-img > div.sweep-from-center > div > div > p {
    color: white;
}

/* Gradients */
/* secondary and secondary 2 */
.call-to-section .btn-default {
    background-image: -ms-linear-gradient(left, #00F2FF 0%, #00BBFF 100%);
    background-image: -moz-linear-gradient(left, #00F2FF 0%, #00BBFF 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00F2FF), color-stop(1, #00BBFF));
    background-image: -webkit-linear-gradient(left, #00F2FF, #00BBFF 100%);
    background-image: linear-gradient(to right, #00F2FF, #00BBFF 100%);
    border: 1px solid #00F2FF;
}

/* secondary and primary 2 */
.hero-layer,
.call-to-layer {
    background-image: -ms-linear-gradient(left, #00F2FF 0%, #ff701b 100%);
    background-image: -moz-linear-gradient(left, #00F2FF 0%, #ff701b 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00F2FF), color-stop(1, #ff701b));
    background-image: -webkit-linear-gradient(left, #00F2FF, #ff701b 100%);
    background-image: linear-gradient(to right, #00F2FF, #ff701b 100%);
}

.portfolio-img .sweep-left,
.portfolio-img .sweep-right {
    background-image: -ms-linear-gradient(left, #ff701b 0%, #00F2FF 100%);
    background-image: -moz-linear-gradient(left, #ff701b 0%, #00F2FF 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ff701b), color-stop(1, #00F2FF));
    background-image: -webkit-linear-gradient(left, #ff701b, #00F2FF 100%);
    background-image: linear-gradient(to right, #ff701b, #00F2FF 100%);
}

/* secondary 2 and primary 4 */
.gradient {
    background-image: -ms-linear-gradient(left, #00BBFF 0%, #ff701b 100%);
    background-image: -moz-linear-gradient(left, #00BBFF 0%, #ff701b 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00BBFF), color-stop(1, #ff701b));
    background-image: -webkit-linear-gradient(left, #00BBFF, #ff701b 100%);
    background-image: linear-gradient(to right, #00BBFF, #ff701b 100%);
}
